<%= f.input :card_number, required: true %>
<%= f.input :card_holder_name, required: true %>

<div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
   <%= f.input :card_expiry_date, required: true %>
   <%= f.input :card_cvv, required: true %>
   <%= f.input :card_holder_document, required: true %>
</div>

<div class="flex justify-between mt-4">
   <%= link_to t('buttons.cancel'), '', class: 'btn-outline' %>
   <%= f.button :submit, t('buttons.confirm'), class: "btn-primary" %>
</div>