<footer class="bg-white">
   <div class="flex flex-col items-center justify-between px-8 py-6 mx-auto lg:flex-row">
      <%= link_to image_tag('maxiambiental-logo.svg', class: "h-16"), "" %>

      <div class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0">
         <%= link_to 'Cursos', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

         <%= link_to 'Parceiros', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

         <%= link_to 'Suporte', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

         <%= link_to 'Sobre nós', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

         <%= link_to 'Ajuda', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

         <%= link_to 'Privacidade', '#', class: "text-sm text-gray-600 transition-colors duration-300 hover:text-green-500" %>

      </div>

      <p class="mt-6 text-sm text-gray-500 lg:mt-0">© Copyright 2024 Maxiambiental. </p>
   </div>
</footer>