<div data-controller="dropdown" data-action="click@window->dropdown#close">
   <nav 
      data-controller="nav" 
      class="fixed top-0 z-50 flex items-center justify-between w-full h-16 px-4 py-4 bg-white shadow-md"
   >
      <!-- Menu button (mobile) -->
      <button 
         type="button" 
         data-action="click->nav#toggleMenu" 
         class="relative flex items-center justify-center text-green-800 bg-white border border-green-200 rounded-lg shadow-sm md:hidden size-7 hover:bg-green-50 focus:outline-none focus:bg-green-50"
         >
         <%= icon('fa-solid', 'bars') %>
         <span class="sr-only">Toggle</span>
      </button>

      <!-- Logo -->
      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: 'hidden md:block h-16'), root_path %>

      <!-- Main navigation -->
      <ul 
         class="absolute items-center hidden space-x-6 transform -translate-x-1/2 -translate-y-1/2 lg:flex top-1/2 left-1/2"
      >
         <% links = [
            { text: t('links.courses'), url: courses_path },
            { text: t('links.photos_gallery'), url: "#" },
            { text: t('links.about_us'), url: "#" },
            { text: t('links.contact_us'), url: "#" }
         ] %>

         <% links.each do |link| %>
            <li>
               <%= link_to link[:text], link[:url], class: "text-sm text-green-700 font-semibold hover:text-green-500" %>
            </li>
         <% end %>
      </ul>

      <% unless client_signed_in? %>
         <%= link_to t('devise.sessions.sign_in'), new_client_session_path,
                  class: "hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 text-sm text-green-700 font-bold",
                  data: { navbar_visibility_target: "links" } %>

         <%= link_to t('devise.sessions.sign_up'), new_client_registration_path,
                  class: "hidden lg:inline-block py-2 px-6 bg-green-700 hover:bg-green-800 text-sm text-white font-bold rounded-md" %>
      <% end %>

      <!-- Dropdown -->
      <%= render 'layouts/clients/partials/dropdown', user: current_client if client_signed_in? %>

      <!-- Sidebar -->
      <%= render 'layouts/clients/partials/sidebar' %>
   </nav>
</div>
