<li class="shrink-0 w-[calc(100vw-100px)] sm:w-80 md:w-96 snap-center block bg-white p-4 md:p-5 rounded-lg space-y-3 md:space-y-4 transition duration-200 mx-2">

   <%= link_to image_tag(course_class.course.image_url, alt: course_class.name, class: "aspect-video object-cover rounded-lg h-52 w-full"), 
               course_class_path(course_class), class: "card-link" %>

   <span class="badge bg-gray-500 text-white mt-4">Presencial</span>

   <h2 class="text-base md:text-lg font-bold line-clamp-2 h-14"><%= course_class.name %></h2>

   <div class="flex flex-col sm:flex-row gap-2 sm:gap-3">
      <%= link_to t('links.schedule'), course_class_programming_path(course_class), class: "btn-outline w-full sm:w-auto text-sm flex-grow text-center" %>

      <% if course_class.open? %>
         <%= link_to t('buttons.registration_form'), clients_new_enrollment_path(course_class), class: 'btn-primary text-center w-full inline-block' %>
      <% else %>
         <span class="btn-outline btn-disabled text-center w-full inline-block cursor-not-allowed opacity-50">
            <%= t('buttons.registration_form') %>
         </span>
      <% end %>
   </div>
</li>