<%= simple_form_for [:admin, @instructor], 
                    html: { class: "space-y-4 md:space-y-6" } do |f| %>

   <%= f.input :name %>

   <%= f.input :email %>

   <%= f.input :phone,
               input_html: { 
                  class: "form-control", 
                  data: { controller: "phone-mask", action: "input->phone-mask#apply" } 
               } %>

   <%= f.input :resume, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>

   <%= yield(f) %>

   <div class="flex justify-between mt-7">
      <%= link_to t('buttons.cancel'), admin_instructors_path, class: 'btn-outline' %>
      <%= f.button :submit %>
   </div>
<% end %>