<% provide(:page_title, 'Editar Informações Pessoais') %>
<% provide(:page_description, 'Mantenha suas informações pessoais atualizadas para garantir uma experiência personalizada e eficiente em nossos treinamentos.') %>

<div class="grid grid-cols-1 gap-4 m-auto p-4 lg:grid-cols-2 lg:p-4">

   <div class="w-full px-6 pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

      <h5 class="text-xl font-bold">Editar Foto</h5>
      <%= render 'admin/profiles/partials/profile_image' %>

   </div>

   <div class="w-full px-6 pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

      <h5 class="text-xl font-bold">Editar Informações</h5>
      <%= simple_form_for @admin, url: admin_profile_path, method: :patch, class: "grid gap-6 max-w-2xl mx-auto mt-0" do |f| %>
         <div class="items-center mt-8 sm:mt-14 text-green-700">

            <%= f.input :name, label: "Your first name", placeholder: "Your first name", required: true %>

            <%= f.input :email, label: "Your email", placeholder: "your.email@mail.com", required: true %>

            <%= f.button :submit, "Save" %>

         </div>
      <% end %>

   </div>
</div>
