<tr>
   <td class="px-6 py-4 text-sm text-gray-800">
      <div class="text-left">
         <h2 class="font-semibold"><%= course_class.name %></h2>
      </div>
   </td>
   <td class="px-6 py-4 text-sm text-gray-800">
      <div class="text-left">
         <h2 class="font-semibold"><%= course_class.course.name %></h2>
      </div>
   </td>
   <td class="px-6 py-4 text-sm text-gray-800">
      <div class="text-center">
         <h2 class="font-semibold"><%= course_class.instructor.name %></h2>
      </div>
   </td>
   <td class="px-6 py-4 text-sm text-gray-800">
      <div class="text-center">
         <h2 class="font-semibold"><%= course_class.start_at.strftime("%d/%m/%Y") %> - <%= course_class.end_at.strftime("%d/%m/%Y") %></h2>
      </div>
   </td>
   <td class="px-6 py-4 text-sm text-center text-gray-800">
      <span class="<%= course_class.active ? 'badge-active' : 'badge-inactive' %>">
         <%= t("status.course.#{course_class.active}") %>
      </span>
   </td>

   <td class="px-6 py-4 text-sm font-medium text-center">
      <div class="flex items-center gap-4">

         <%= link_to admin_course_class_path(course_class), data: { turbo_method: :delete, turbo_confirm: t('.confirm') } do %>
            <%= icon('fa-solid', 'trash', class: 'fa-lg text-red-700') %>
         <% end %>

         <%= link_to edit_admin_course_class_path(course_class) do %>
            <%= icon('fa-solid', 'pen', class: 'fa-lg text-green-700') %>
         <% end %>

      </div>
   </td>
</tr>