<%= simple_form_for [:admin, @course_class], html: { class: "space-y-8" } do |f| %>

   <%= render 'admin/course_classes/partials/section', trans_key: 'basic_info'  do %>

      <%= f.input :name %>
      <%= f.input :available_slots, as: :integer, input_html: { min: 0 } %>
      <%= f.association :instructor, prompt: :translate %>
      <%= f.association :course, prompt: :translate %>
      <%= f.input :subscription_status, collection: CourseClass.human_subscription_statuses, prompt: true %>
      <%= f.input :active, as: :toggle_switch %>

   <% end %>

   <%= render 'admin/course_classes/partials/section', trans_key: 'location' do %>
      <%= f.input :address, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>
   <% end %>

   <%= render 'admin/course_classes/partials/section', trans_key: 'course_info' do %>

      <div class="grid md:grid-cols-2 gap-4">
         <%= f.input :start_at, as: :date, wrapper: :datetime %>
         <%= f.input :end_at, as: :date, wrapper: :datetime %>
      </div>

      <%= f.input :schedule, as: :text %>

      <%= f.input :about, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>

   <% end %>

   <%= render 'admin/course_classes/partials/section', trans_key: 'content' do %>

      <%= f.input :programming, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>

   <% end %>

   <%= render 'admin/course_classes/partials/section', trans_key: 'terms' do %>
      <%= f.input :acceptance_terms, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>
   <% end %>

   <div class="flex justify-between mt-7">
      <%= link_to t('buttons.cancel'), admin_course_classes_path, class: 'btn-outline' %>
      <%= f.button :submit %>
   </div>

<% end %>