<div data-controller="dropdown" data-action="click@window->dropdown#close" class="z-0">
   <nav data-controller="navbar-visibility" class="fixed top-0 w-full px-4 py-4 h-16 flex justify-between items-center bg-transparent z-10 transition duration-300">

      <button type="button" data-action="click->navbar-visibility#toggleMenu" class="lg:hidden hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-green-200 bg-white text-green-800 shadow hover:bg-green-50 focus:outline-hidden focus:bg-green-50">
         <%= icon('fa-solid', 'bars') %>
         <span class="sr-only">Toggle</span>
      </button>

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: 'h-16 hidden', data: { navbar_visibility_target: "logo" }), root_path %>

      <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
         <% links = [
        { text: t('links.courses'), url: courses_path },
        { text: t('links.photos_gallery'), url: "#" },
        { text: t('links.about_us'), url: "#" },
        { text: t('links.contact_us'), url: "#" },
      ] %>

         <% links.each do |link| %>
            <li>
               <%= link_to link[:text], link[:url], class: "text-sm text-white font-semibold hover:text-green-500", data: { navbar_visibility_target: "links" } %>
            </li>
         <% end %>
      </ul>

      <% unless client_signed_in? %>
         <%= link_to t('devise.sessions.sign_in'), new_client_session_path,
                  class: "hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 text-sm text-white font-bold",
                  data: { navbar_visibility_target: "links" } %>

         <%= link_to t('devise.sessions.sign_up'), new_client_registration_path,
                  class: "hidden lg:inline-block py-2 px-6 bg-green-700 hover:bg-green-800 text-sm text-white font-bold rounded-md" %>
      <% end %>

      <%= render 'layouts/clients/partials/dropdown', user: current_client if client_signed_in? %>

      <%= render 'home/sections/menu' %>
   </nav>

</div>
