<div class="w-full pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

   <%= simple_form_for @admin, namespace: :update_password, url: admin_update_password_path, method: :patch, class: "grid gap-6 max-w-2xl mx-auto mt-0" do |f| %>

      <%= f.input :current_password %>
      <%= f.input :password, placeholder: t('simple_form.placeholders.admin.new_password') %>
      <%= f.input :password_confirmation, placeholder: t('simple_form.placeholders.admin.new_password_confirmation') %>

      <%= f.button :submit, t('buttons.change_password') %>
   <% end %>

</div>