<div class="container mx-auto px-4 py-10 mt-10">
   <div class="grid md:grid-cols-2 gap-6 md:items-start items-center my-12">

      <div class="max-w-[500px] md:aspect-square mx-auto relative group overflow-hidden">
         <%= image_tag @course_class.course.image_url, 
             alt: @course_class.name, 
             class: 'w-full h-full object-cover rounded-lg shadow-xl md:border border-gray-100' %>

         <div class="md:hidden absolute inset-0 bg-gradient-to-t from-black/50 to-transparent rounded-lg">
            <h1 class="text-3xl font-bold text-white absolute bottom-4 left-4 right-4">
               <%= @course_class.name %>
            </h1>
         </div>
      </div>

      <div class="md:block hidden space-y-4 px-8">
         <h1 class="text-3xl font-bold text-black text-center">
            <%= @course_class.name %>
         </h1>

         <div class="bg-gray-50 p-5 rounded-lg border border-gray-200 space-y-3">
            <h3 class="font-semibold text-lg text-gray-800 mb-2">Detalhes</h3>

            <div class="grid grid-cols-1 gap-3 text-sm text-gray-600">

               <div class="flex items-start">
                  <span class="font-medium text-gray-700 w-32 flex-shrink-0">Datas:</span>
                  <span><%= l(@course_class.start_at) %> - <%= l(@course_class.end_at) %></span>
               </div>

               <div class="flex items-start">
                  <span class="font-medium text-gray-700 w-32 flex-shrink-0">Horários:</span>
                  <span><%= @course_class.schedule %></span>
               </div>

               <div class="flex items-start">
                  <span class="font-medium text-gray-700 w-32 flex-shrink-0">Local:</span>
                  <span class="prose"><%= @course_class.address %></span>
               </div>

            </div>
         </div>

         <%= link_to t('buttons.registration_form'), clients_new_enrollment_path(@course_class), class: 'btn-primary text-center w-full inline-block' %>
      </div>

      <div class="md:hidden space-y-4">
         <div class="bg-white p-4 rounded-lg shadow border border-gray-100">
            <p class="text-gray-600 text-base leading-relaxed">
               <%= @course_class.course.description %>
            </p>
         </div>

         <!-- Mobile -->
         <div class="bg-white p-4 rounded-lg shadow border border-gray-100">
            <h3 class="font-semibold text-lg text-gray-800 mb-3">Detalhes da Turma</h3>

            <div class="space-y-3 text-sm text-gray-600">
               <div>
                  <p class="font-medium text-gray-700">Datas:</p>
                  <p>Em breve</p>
               </div>
               <div>
                  <p class="font-medium text-gray-700">Horários:</p>
                  <p>08:00 h às 12:00 h e 13:30 h às 18:00 h</p>
               </div>
               <div>
                  <p class="font-medium text-gray-700">Cidade:</p>
                  <p>Curitiba/PR</p>
               </div>
               <div>
                  <p class="font-medium text-gray-700">Local:</p>
                  <p>Hotel Nacional Inn - Rua Lourenço Pinto, 458, Centro</p>
               </div>
            </div>
            <%= link_to t('buttons.registration_form'), clients_new_enrollment_path(@course_class), class: 'btn-primary text-center w-full inline-block' %>
         </div>
      </div>
   </div>

   <div class="mx-auto mt-8 px-10">
      <% tabs = [
            { name: t('links.about'), path: course_class_path(@course_class) },
            { name: t('links.schedule'), path: course_class_programming_path(@course_class) },
            { name: t('links.professionals'), path: course_class_instructor_path(@course_class) },
            { name: t('links.terms'), path: course_class_terms_path(@course_class) },
          ] %>

      <%= rc 'navigation/tabs', tabs: tabs %>

      <turbo-frame id="course_class">
         <%= yield %>
      </turbo-frame>
   </div>
</div>