<% provide(:head_title, "Cadastrar") %>

<%= simple_form_for @client, url: client_registration_path, html: { class: "space-y-4 md:space-y-6" } do |f| %>

   <%= f.input :email, placeholder: 'E-mail', error: true %>
   <%= f.input :password, placeholder: 'Senha', error: true %>
   <%= f.input :password_confirmation, placeholder: 'Confirmação de Senha', error: true %>

   <%= f.button :submit, "Cadastrar" %>

   <%= render 'shared/google_auth' %>

   <div class='flex flex-col justify-center text-center'>
      <%= render 'clients/devise/partials/actions_link', 
                     message: 'Já possui uma conta?', link_text: 'Entre', link_path: new_client_session_path %>
   </div>
<% end %>