<% provide(:head_title, t('devise.sessions.sign_up')) %>

<%= simple_form_for @client, url: client_registration_path, html: { class: "space-y-4 md:space-y-6" } do |f| %>

  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, t('devise.sessions.sign_up') %>

<% end %>

<%= render "clients/devise/shared/google" %>

<div class="text-sm">

  <span class="font-light text-gray-500"> <%= t('simple_form.labels.already_have_an_account') %> </span>
  <%= link_to t('links.sign_in'), new_client_session_path, class: "font-medium text-green-600 hover:underline" %>

</div>