<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title><%= yield(:head_title) %></title>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/users/devise/partials/header' %>

    <div class="<%= auth_container_class %>">
      <div class="<%= auth_box_class %>">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">  
          <h1 class="<%= h1_class("text-green-700 text-center") %>"><%= yield(:head_title) %></h1>

          <%= yield %>
          <%= render 'layouts/users/devise/partials/google_button' %>
        
          <%= render 'layouts/users/devise/partials/actions' %>
        </div>
      </div>  <!-- box -->
    </div>  <!-- container -->

    <%= render 'layouts/users/devise/partials/footer' %>
  </body>
</html>