<%= rc 'page/content_title',
       title: t('instructor.title'),
       description: t('instructor.description'),
       bt_label: t('instructor.new'),
       bt_path: new_admin_instructor_path %>

<%= render layout: 'admin/instructors/partials/table_container' do %>
   <table class="w-full divide-y divide-gray-200">

      <thead class="bg-gray-50">
         <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
               <%= t('activerecord.models.instructor') %>
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase">
               <%= t('activerecord.attributes.defaults.phone') %>
            </th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">
               Status
            </th>
            <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">
               <%= t('activerecord.attributes.defaults.resume') %>
            </th>
            <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase"></th>
         </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
         <% if @instructors.empty? %>
            <%= render 'shared/empty_state',
                        model: t('activerecord.models.instructor'),
                        url: new_admin_instructor_path %>
         <% else %>
            <% @instructors.each do |instructor| %>
               <tr>
                  <td class="px-6 py-4 text-sm text-gray-800">
                     <div class="flex items-center">
                        <%= image_tag instructor.avatar_url, class: "h-8 w-8 rounded-full object-cover"%>
                        <div class="ml-4">
                           <h2 class="font-semibold"><%= instructor.name %></h2>
                           <p class="text-gray-600 text-sm"><%= instructor.email %></p>
                        </div>
                     </div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800">
                     <%= instructor.phone %>
                  </td>
                  <td class="px-6 py-4 text-center text-sm text-gray-800">
                     <span class="<%= instructor.active ? 'badge-active' : 'badge-inactive' %>">
                        <%= instructor.active ? 'Ativo' : 'Inativo' %>
                     </span>
                  </td>
                  <td class="px-6 py-4 text-center text-sm text-gray-800">
                     <%= link_to 'Visualizar currículo', admin_instructor_path(instructor.id), class: 'font-medium text-green-700 hover:underline' %>
                  </td>
                  <td class="px-6 py-4 text-right text-sm font-medium">
                     <%= link_to 'Editar', edit_admin_instructor_path(instructor.id), class: "btn-outline" %>
                  </td>
               </tr>
            <% end %>
         <% end %>
      </tbody>

   </table>
<% end %>
