<%= rc 'page/content_title',
       title: 'Gerenciar Instrutores',
       description: 'Gerenciar instrutores da maxiambiental.',
       with_buttons: true,
       bt_label: "Novo Instrutor",
       bt_path: new_admin_instructor_path %>

<div class="flex flex-col">
   <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
         <div class="border rounded-lg overflow-hidden">

            <table class="min-w-full divide-y divide-gray-200">

               <thead class="bg-gray-50">

               <tr>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Instrutor</th>
                  <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Status</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Telefone</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase"></th>
               </tr>

               </thead>

               <tbody class="divide-y divide-gray-200">

                  <% @instructors.each do |instructor| %>
                     <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                           <div class="flex items-center">
                              <div class="relative">
                                 <%= image_tag 'default-avatar.png', class: "h-8 w-8 rounded-full object-cover"%>
                              </div>
                              <div class="ml-4">
                                 <h2 class="font-semibold"><%= instructor.name %></h2>
                                 <p class="text-gray-600 text-sm"><%= instructor.email %></p>
                              </div>
                           </div>
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><%= instructor.email %></td>

                        <td class="px-6 py-4 whitespace-nowrap text-center text-sm text-gray-800">
                           <span class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Ativo</span>
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm text-center text-gray-800"><%= instructor.phone %></td>

                        <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                           <%= link_to 'Editar', edit_admin_instructor_path(instructor.id), class: "btn-outline hover:bg-green-700 hover:border-transparent" %>
                        </td>
                     </tr>
                  <% end %>

               </tbody>

            </table>

         </div>
      </div>
   </div>
</div>