<%= rc 'page/content_title',
       title: t('.title'),
       description: t('.description'),
       bt_label: t('.new'),
       bt_path: new_admin_instructor_path %>

<%= rc 'search/form', base_url: admin_instructors_search_path, clean_url: admin_instructors_path %>

<%= render 'admin/instructors/partials/table_container' do %>

   <table class="w-full divide-y divide-gray-200">

      <thead class="bg-gray-50">
         <tr>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">
               <%= t('activerecord.models.instructor') %>
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase">
               <%= t('activerecord.attributes.defaults.phone') %>
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-center text-gray-500 uppercase">
               Status
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-center text-gray-500 uppercase">
               <%= t('activerecord.attributes.defaults.resume') %>
            </th>
            <th scope="col" class="px-6 py-3 text-xs font-medium text-right text-gray-500 uppercase"></th>
         </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
         <% if @instructors.empty? %>
            <%= render 'shared/empty_state',
                        model: t('activerecord.models.instructor'),
                        url: new_admin_instructor_path %>
         <% else %>
            <%= render partial: 'admin/instructors/partials/instructor',
                       collection: @instructors, as: :instructor %>
         <% end %>
      </tbody>

   </table>
<% end %>
