<%= rc 'page/content_title',
       title: t('instructor.new'),
       description: t('instructor.new_description') %>

<%= simple_form_for @instructor, url: admin_instructors_path, html: { class: "space-y-4 md:space-y-6" } do |f| %>
   <%= f.input :email %>
   <%= f.input :name %>
   <%= f.input :phone, input_html: { data: { controller: "phone-mask", action: "input->phone-mask#apply" }} %>

   <div>
      <div id="editor" class="border border-gray-300"></div>
      <%= f.input :resume, as: :hidden, input_html: { id: "hidden-content" } %>
   </div>

   <%= f.button :submit, t('buttons.create') %>
<% end %>