<nav class="fixed top-0 left-0 w-full z-50 bg-white h-20 shadow-md" data-controller="dropdown" data-action="click@window->dropdown#close">
   <div class="flex flex-wrap items-center justify-between px-8 py-6 sm:py-4">
      <%= render(SidebarToggleButton::SidebarToggleButtonComponent.new) %>

      <%= link_to image_tag('maxiambiental-logo.svg', alt: 'Logo', class: "h-14 hidden sm:block"), root_path %>

      <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse">

         <%= render AvatarDropdown::AvatarDropdownComponent.new user: helpers.current_client %>

         <%= render SidebarToggleButton::SidebarToggleButtonComponent.new %>

      </div>

      <% if @navigation_links.present? %>
         <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-language">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
               <% @navigation_links.each do |link| %>
                  <li>
                     <%= link_to link[:name], link[:path], class: "block py-2 px-3 text-green-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700" %>
                  </li>
               <% end %>
            </ul>
         </div>
      <% end %>
   </div>
</nav>
