<%= simple_form_for [:admin, @course], 
                    html: { class: "space-y-4 md:space-y-6" } do |f| %>

   <%= f.input :name %>

   <%= f.input :description, as: :rich_text_area, input_html: { class: 'h-80 overflow-y-auto' } %>

   <%= f.input :image, as: :image %>

   <%= yield(f) %>

   <div class="flex justify-between mt-7">
      <%= link_to t('buttons.cancel'), admin_courses_path, class: 'btn-outline' %>
      <%= f.button :submit %>
   </div>
<% end %>
