<% provide(:head_title, t('devise.sessions.sign_in')) %>
<% provide(:title, t('devise.sessions.new.user.title')) %>

<%= form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>
    <div>
      <%= f.label :email, "E-mail", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div>
      <%= f.label :password, "Senha", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Entrar", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      <%= link_to "Esqueceu a senha?", "#", class: "inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" %>
    </div>
  <% end %>