<div id="form-box" class="w-full pb-8 mt-8 rounded-lg space-y-4 md:space-y-6">

   <%= rc 'flash/message' %>

   <%= simple_form_for @client, namespace: :update_password, url: clients_update_password_path, method: :patch, class: "grid gap-6 max-w-2xl mx-auto mt-0" do |f| %>

      <%= f.input :current_password %>
      <%= f.input :password, placeholder: t('simple_form.placeholders.client.new_password') %>
      <%= f.input :password_confirmation, placeholder: t('simple_form.placeholders.client.new_password_confirmation') %>

      <%= f.button :submit, t('buttons.change_password') %>
   <% end %>

</div>