<%= render 'shared/enrollment_steps', current_step: 2 do %>

   <%= simple_form_for @enrollment, url: clients_create_course_class_enrollment_path do |f| %>

      <%= f.input :referral_source, collection: @enrollment.human_enums(:referral_source), prompt: :translate %>

      <%= f.input :previous_participation, as: :radio_buttons, wrapper: :horizontal_radio,
                                           collection: [[ "Sim", true ], [ "Não", false ]]  %>

      <%= f.input :category, collection: @enrollment.human_enums(:category), prompt: :translate %>

      <%= f.input :notes, as: :text %>

      <div class="mt-4 mb-6 space-y-4">
         <label class="block text-green-700 text-sm font-bold mb-2">
            Termos e Condições
         </label>

         <div class="border border-gray-300 rounded-lg bg-gray-50 p-4 max-h-48 overflow-y-auto prose">
            <%= @course_class.acceptance_terms %>
         </div>

         <%= f.input :terms_accepted, as: :boolean, wrapper: :checkbox %>
      </div>

      <div class="flex justify-between">
         <%= link_to t('buttons.cancel'), root_path, class: 'btn-outline' %>
         <%= f.button :submit, t('buttons.confirm'), class: "btn-primary" %>
      </div>

   <% end %>

<% end %>