<div class="text-end text-sm text-gray-700 mb-2">
   <%= page_entries_info @collection %>
</div>

<div class="flex flex-col">
   <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
         <div class="border border-gray-300 rounded-lg overflow-hidden">

            <table class="w-full divide-y divide-gray-200" id="<%= table_id %>">

               <thead class="bg-gray-50">
                  <tr>
                     <% @attributes.each do |attribute| %>
                        <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase <%= attribute[:class] %>">
                           <%= attribute[:text] %>
                        </th>
                     <% end %>
                  </tr>
               </thead>

               <tbody class="divide-y divide-gray-200">
                  <% if @collection.empty? %>
                     <%= render 'shared/empty_state', 
                                model: @collection.model.model_name.human.downcase %>
                  <% else %>
                     <%= render partial: @partial, collection: @collection, as: model %>
                  <% end %>
               </tbody>

            </table>

         </div>
      </div>
   </div>
</div>

<%= paginate @collection %>