<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title><%= yield("teste") %></title>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/devise/partials/header' %>

    <div class="<%= auth_container_class %>">
      <div class="<%= auth_box_class %>">
        <h1 class="<%= h1_class("text-green-700 text-center mb-10") %>">Entrar</h1>

        <%= yield %>
        <%= render 'layouts/devise/partials/google_button' %>

        <div class="mt-10 text-center">
          <%= link_to "Esqueceu a senha?", "#", class: "inline-flex align-bottom text-black mb-1" %>
          <div class="text-gray-500">
            Não tem uma conta? 
            <%= link_to "Cadastre-se", new_user_registration_path, class: "font-bold text-green-700 hover:underline" %>
          </div>
        </div>
      </div>  <!-- box -->
    </div>  <!-- container -->

    <%= render 'layouts/devise/partials/footer' %>
  </body>
</html>
